<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Contact Us</title>
<style>
div{
padding-top:200px;
}
</style>
</head>
<div>
<table align="center">
 <tr>
   <td>Name &nbsp;  &nbsp;&nbsp; </td>
   <td>&nbsp; &nbsp; Mr. Aakash Tyagi<br />&nbsp;  &nbsp;</td>
 </tr>
 <tr>
  <td>Email ID &nbsp;  &nbsp;</td>
  <td>&nbsp; &nbsp; 19aakash33@gmail.com <br />&nbsp;  &nbsp;</td>
 </tr>
 <tr>
  <td>Mobile No. &nbsp;  &nbsp;</td>
  <td>&nbsp;  &nbsp; (+91) 9711216829 <br />&nbsp;  &nbsp;</td>
 </tr>
 <tr>
  <td>Address &nbsp;  &nbsp;</td>
  <td>&nbsp;  &nbsp; Shop No. 11,Jagat Farm,<br />&nbsp;  &nbsp;Greater Noida ,U.P.,India </td>
 </tr>
</table>
</div>
<body>
</body>
</html>
