<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style>
p{
margin-left:90px;
padding-top:40px;
}
ul{
margin-left:100px;
}
</style>
</head>
<div id="home">
  <h1 align="center">SET</h1>
<div>
<p>The ambiance at School of Engineering and Technology (SET) is inspiring and conducive for acquisition of knowledge and honing of skills.
 An unfettered spirit of knowledge and exploration, academic integrity and accountability, and promotion of intellectual excellence makes
  SET distinct from other engineering institutes.</p>
</div>
<div>
<p>After completing this programme, graduates of the program are able to:</p>
<ul>
 <li>Apply the basic knowledge of mathematics, science and technology. </li>
 <li>Identify, formulate and solve engineering problems.</li>
 <li>Work with modern engineering instrumentation, software and hardware.</li>
 <li>Communicate effectively with different levels of people in the workplace.</li>
 <li>Recognize the need for life-long learning, and cultivate the aptitude and capacity to do so.</li>
 <li>Identify the social, cultural and environmental responsibilities of a business organization, and to apply sustainable development
      principle in decision making.</li>
 <li>Demonstrate values and ethics that will enhance participation as players in business organizations and loyal citizens.</li>
</ul>
</div>
<div>
 <p>The hands-on-skills of the students are developed in the laboratories of SET that are well equipped with the latest equipments and the 
 students are trained by performing experiments. The School’s most important priority is to increase its specialized teaching and research 
 space to match the industrial needs. </p>
</div>
<div>
 <p>The School’s 250 faculty members and the professional staff work hard to hold a high
 standard of excellence. With the strong support of faculty and professional staff, 
 the SET is poised to emerge and also contribute significantly to global challenges.</p>
</div>
</div>
<body>
</body>
</html>
