<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Register</title>
<style>
div{
padding-top:150px;
}
a{
text-decoration:none;
color:#33FF00;
}
a:hover{
color:#FFFFFF;
}
</style>
</head>
<div>
   <table align="center">
      <h1 align="center">Register Here</h1>
      <form action="login.html" method="post" target="frame"> 
				  <tr>
					<td colspan="2"> <h2>&nbsp; &nbsp; &nbsp; &nbsp; Enter Your Details</h2></td>
				   </tr>
				   <tr>
				     <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Enter First Name &nbsp; &nbsp; &nbsp;</td>
					 <td><input type="text" name="first_name" required /> </td>
				   </tr>
				   <tr>
				      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Enter Last Name &nbsp; &nbsp; &nbsp;</td>
					  <td><input type="text" name="last_name" required /></td>
				   </tr>
				   <tr>
				      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Choose Your Username  &nbsp; &nbsp; &nbsp; </td>
					  <td><input type="text" name="username" required /></td>
				   </tr>
				   <tr>
					   <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Create A Password &nbsp; &nbsp; &nbsp; </td>
					   <td><input type="password" name="password" required /></td>
				   </tr>	 
				   <tr>
				      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Confirm Your Password &nbsp; &nbsp; &nbsp; &nbsp; </td>
					  <td><input type="password" name="con_password" required /></td>
				   </tr>
				   <tr>
				       <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Birthday &nbsp; &nbsp; &nbsp;</td>
					   <td> <input type="date" name="dob" required /></td>
				   </tr>						 
				   <tr>
					    <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gender &nbsp; &nbsp; &nbsp; </td>
						<td><input type="radio" name="gender" value="Male" required />Male
						    <input type="radio" name="gender" value="Female" required />Female</td>
				   </tr>
				   <tr>
				       <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mobile Phone &nbsp; &nbsp; &nbsp;</td>
					   <td> <input type="text" name="mobile" required /></td>
				   </tr>	
				   <tr>
				      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Country</td>
					  <td><select name="country">
                          <option>Select</option> 
                          <option>India</option> 
                          <option>Japan</option> 
                          <option>Russia</option> 
						  <option>England</option>   
                          </select>
					  </td>
				   </tr>  
				   <tr>
				      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" name="registerbtn" value="Create Account"  height="40px" width="60px" /></td>
				   </tr>		 		
				</form>
   </table>
   <h2 align="center">Already Registered. <a href="login.html" target="frame">Login Here</a></h2>
 </div>  
<body>
</body>
</html>
