<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Services</title>
<style>
div{
padding-top:100px;
margin-left:200px;
}
h1{

}
</style>
</head>
<div>
 <h1 align="center">We Offer 216 Programmes in Different Specialization</h1>
 <br /><br />
 <ul style="list-style:none">
   <li>Engineering</li>
   <li>Management</li>
   <li>Medical</li>
   <li>Science</li>
   <li>Computer Application</li>
   <li>Photography</li>
   <li>Hotel Management</li>
 </ul>
</div>
<body>
</body>
</html>
