*{
   margin:0px;
   padding::0px;
}
#mainBody {
	background-image: url(../../../Downloads/Web%20Work/Responsive%20Images/pineapple-1149668_640.jpg);
	height: 1000px;
	width: 100%;
	background-color: #CC33FF;
}
#wrapper {
	height: 1000px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
#header {

	height: 200px;
	width: 100%;
}
#content {
	height: 700px;
	width: 100%;
}
#footer {

	height: 100px;
	width: 100%;
}
.left {
	background-color: #CC33FF;
	float: left;
	height: 700px;
	width: 15%;
}
.content {
    background-color: #CC33FF;
	float: left;
	height: 700px;
	width: 70%;
}
.right {
    background-color: #CC33FF;
	float: left;
	height: 700px;
	width: 15%;
}