*{
   margin:0px;
   padding::0px;
}
#mainBody {
	background-color: #FFCC99;
	background-image: url(../../../Downloads/Web%20Work/Responsive%20Images/apple-3433812_640.jpg);
	height: 1000px;
	width: 100%;
}
#wrapper {
	background-color: #99FF99;
	height: 1000px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
#header {
	background-color: #0066FF;
	height: 200px;
	width: 100%;
}
#content {
	background-color: #990066;
	height: 700px;
	width: 100%;
}
#footer {
	background-color: #FFFF99;
	height: 100px;
	width: 100%;
}
.content {
	background-color: #993300;
	height: 700px;
	width: 70%;
	float: left;
}
.left {
	background-color: #333366;
	height: 700px;
	width: 30%;
	float: left;
}
