<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>About Us</title>
<style>
p{
padding-top:50px;
margin-left:100px;
}
</style>
</head>
<div id="main" >
     <h1 align="center">About Us</h1>
  <div>
    <p>The name of University, 'Sharda' is synonymous to 'Goddess of knowledge and learning - Saraswati'. She is identified with 'veena' an 
	Indian musical instrument and the 'lotus' where she resides. The lotus in our logo symbolizes the seat of learning that the University 
	is created for. Variety of colours signify the variety of disciplines the university offers and the overlap between petals creating new 
	colours demonstrate the ethos of collaboration between students and teachers of different programme, nationality, creed and colour 
	working towards creating new knowledge.</p>
  </div>
  
  <div>
   <p>The petals leading towards a star is an embodiment of the University's cherished mission to provide education beyond boundaries
    and to facilitate the students and faculty to achieve pinnacles of success throughout the world!</p>
  </div>
    <hr />
	<h1 align="center">Awards and Achievements</h1>
	
	<div>
	 <p>Acknowledging the world class education provided by Sharda University, top magazines, newspapers and television channels have bestowed
	  good rankings to the University in various areas like placements, industry interface, infrastructure, international relations, etc.</p>
	 </div>

    <div>
	  <p>Sharda University continues to receive national and international recognition. Here's a quick look at some of our most 
	    recent and notable accomplishments:</p>
	</div>

</div>
<body>
</body>
</html>
